<div class="header">
  <a href="/" class="header__logo"></a>
  <ul class="header__nav">
    <li class="header__unit"><a href="/" class="header__link">首页</a></li>
    <li class="header__unit"><a href="/intro" class="header__link">公司介绍</a></li>
    <li class="header__unit"><a href="/team" class="header__link">团队介绍</a></li>
    <li class="header__unit"><a href="/projects" class="header__link">项目介绍</a></li>
    <li class="header__unit"><a href="/articles" class="header__link">文章分享</a></li>
  </ul>
</div>